<h2>Members</h2>
<ul class="heroes">
  <li *ngFor="let member of members">
  	<a routerLink="/detail/{{member.id}}">
      <span class="badge">{{member.id}}</span> {{member.name}}
    </a>
    <button class="delete" title="delete hero"
      (click)="delete(member)">x</button>
  </li>
</ul>

<div>
  <label>Member name:
    <input #memberName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(memberName.value); memberName.value=''">
    add
  </button>
</div>